html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}


body
{
	font-family: 'Lato', sans-serif;
	background: url("../img/stardust.png") repeat center center fixed;
}

#h1title
{
	font-family: 'Lato', sans-serif;
	background-color: rgba(255, 255, 255, 0.05);
	color: white;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	width: 80%;
	max-width: 1000px;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
	border-radius: 4px 4px 0px 0px;
}

#h1contact
{
	font-family: 'Lato', sans-serif;
	color: white;
	margin: auto;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
}

#header
{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 50px;
	margin-top: 50px;
	height: 50px;
	padding: 20px;
	border-radius: 4px;
}

#contact
{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 50px;
	margin-top: 50px;
	height: auto;
	padding: 20px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

#contact2
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

#container
{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	margin-top: 80px;
}

p
{
	background-color: rgba(255, 255, 255, 0.05);
	color: white;
	text-align: justify;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	width: 80%;
	max-width: 1000px;
	border-radius: 0px 0px 4px 4px;
}

footer
{
	width: calc(100% - 40px);
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	height: 150px;
	background-color: #DCDCDC;
	display: none;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 99;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
	p
	{
		width: 80%;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {/*position: relative;*/position: fixed; }
  ul.topnav.responsive li.icon {
    /*position: absolute;*/position: fixed;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

#tictactoe
{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 50px;
	margin-top: 50px;
	height: auto;
	padding: 20px;
	color: white;
	border-radius: 4px;
}

.turn {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 150px;
  margin: 0 auto;
}
table td {
  width: 50px;
  height: 50px;
  border: 1px solid #555;
  cursor: pointer;
  align: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
table td:before {
  font-size: 1.5em;
  line-height: 1;
}
table td.cross:before {
  content: "x";
  color: lightblue;
}
table td.circle:before {
  content: "o";
  color: pink;
}
.reset {
  background: #555;
  border: 1px solid #444;
  padding: 5px 10px;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;

}
.reset:hover {
  opacity: 0.8;
}

.messages
{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

#galeria
{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 50px;
	margin-top: 50px;
	height: auto;
	padding: 20px;
	border-radius: 4px;
}

#h1galeria
{
	font-family: 'Lato', sans-serif;
	color: white;
	margin: auto;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 20px;
}

#h1tictactoe
{
	font-family: 'Lato', sans-serif;
	color: white;
	margin: auto;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
}

#validate
{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 50px;
	margin-top: 50px;
	height: auto;
	padding: 20px;
	border-radius: 4px;
}

#h1validate
{
	font-family: 'Lato', sans-serif;
	color: white;
	margin: auto;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
}

#canvas
{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 50px;
	margin-top: 50px;
	height: auto;
	padding: 20px;
	border-radius: 4px;
}

#h1canvas
{
	font-family: 'Lato', sans-serif;
	color: white;
	margin: auto;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
}

#myCanvas1
{
	width: calc(100% - 200px);
	height: 500px;
	margin: 20px auto;
	padding-left: 0;
    padding-right: 0;
    display: block;
	background-color: #1aa3ff;
}

#myCanvas
{
	height: 100%;
	width: 100%;image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; */
}

#slides {
  display: none;
}

#slides .slidesjs-navigation {
  margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  background-image: url(../img/btns-next-prev.png);
  background-repeat: no-repeat;
  display:block;
  width:12px;
  height:18px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  margin-right:5px;
}

a.slidesjs-next {
  margin-right:10px;
  background-position: -12px 0;
}

a:hover.slidesjs-next {
  background-position: -12px -18px;
}

a.slidesjs-previous {
  background-position: 0 0;
}

a:hover.slidesjs-previous {
  background-position: 0 -18px;
}

a.slidesjs-play {
  width:15px;
  background-position: -25px 0;
}

a:hover.slidesjs-play {
  background-position: -25px -18px;
}

a.slidesjs-stop {
  width:18px;
  background-position: -41px 0;
}

a:hover.slidesjs-stop {
  background-position: -41px -18px;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
textarea:focus
{
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit],
input[type=button]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus,
input[type=button]:focus
{
	background-color: #37b93d;
}

input[type=submit]:hover,
input[type=button]:hover
{
	background-color: #37b93d;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}


/* hide input */
input.radio:empty {
	margin-left: -999px;
}
input.radio ~ label {
	color: #ddd;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 1em;
	margin-bottom: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #000;
}

input.radio:hover:not(:checked) ~ label {
	color: #ccc;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #fff;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #fff;
	font-weight: bold;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

#loginError
{
	display: none;
}

#peselError
{
	display: none;
}

input::-moz-focus-inner {
  border: 0;
}

object, embed {
  outline: 0;
}

#tableskrypt {
  border-collapse: collapse;
  margin: 0 auto;
}
#tableskrypt > td {
  padding: 8px;
  color: #ddd;
  border: 1px solid #555;
  align: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#skrypt
{
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 50px;
	margin-top: 50px;
	height: auto;
	padding: 20px;
	border-radius: 4px;
}

#skrypt2
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}
